#!/usr/bin/env bash

# Aliases
# git
alias gs="tig status"
alias lsa="ls -alhF"
alias gch="git checkout"
alias gco="git commit"
alias gb="git branch -vv"
alias gl="git log --graph --oneline --all"
alias gbr="git branch -r --format='%(color:green)%(authorname): %(color:cyan)%(refname) %(color:white)%(committerdate)' -i --sort=authorname"
alias gbd="gb | grep \": gone]\" | cut -d \" \" -f3 | xargs git branch -D"

# others
alias wdio="./node_modules/.bin/wdio"
alias mocha="./node_modules/.bin/mocha"
alias sourceR="source ~/.zshrc"
alias rm="rm -i"

# Emu / simulator stuff
alias adb-current-activity="adb shell dumpsys window windows | grep -E 'mCurrentFocus|mFocusedApp'"
# https://www.reddit.com/r/MacOS/comments/cgj1qs/cant_be_opened_because_apple_cannot_check_it_for/
alias fix-ios-quarantine="xattr -rd com.apple.quarantine" # note: should give path to app after command

# k8s
k8s-seal () {
	echo -n "$1" | kubeseal --controller-namespace system --controller-name sealed-secrets --raw --namespace $2 --scope namespace-wide
}
# usage examples:
# k8s-seal "toto" parapheur
# k8s-seal "$(pwgen -s 12 -n 1)" parapheur


function sim() {
    $(/Applications/Xcode.app/Contents/Developer/Applications/Simulator.app/Contents/MacOS/Simulator -CurrentDeviceUDID $1 > /dev/null 2>&1 &)
}